
       body{ margin: 0; }
        .box1{
    background-color: #80f0a791;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    padding: 50px 30px;
    box-shadow: -3px 1px 20px 4px #03ddb175;
    }


    .box2{
    width: 1100px;
    margin: 50px auto;
    background-color: #e8c1e2;
    padding: 80px 50px;
    border-radius: 16px;
    box-shadow: inset -20px 19px 20px 4px #aa373775;
 }
    h1{font-size: 60px;margin: 0px;
        color: #cb18a4;

    }
    p{font-size: 25px; color: red;}

    .ae{
    color: #ff0000ba;
}
    .be{
    color: #1fe057;
}
    .de{
    color: #a90dbf;
}

h2{
    font-size: 25px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 17px;
    margin-top: 8px;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    font-size: 20px;
    padding: 6px;
}
a{
    text-decoration: none;
    background-color: beige;
    padding: 1px 15px;
    }